@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my C# Challenges</h1>
    <h3 class="display-8 m-4">Within these web pages I have create three applications that solve for palindromes, recognition of numbers divisible by x and y values, and a loan calculator using ASP.Net, the programming language of C#, and following the MVC model. To help me achieve this feat I used Blazor pages to create routing between my controllers and html pages so that the two could properly interact on the server. Styling is accomplished with Bootstrap and custom CSS. This page was developed in Visual Studio 2022 and is hosted on Azure.  </h3>
    <h4 class="display-6 mt-5 mb-4">~Orion Palmer</h4>
</div>
